<ul class="list-unstyled">
  <li ng-repeat="user in users" ng-show="user._id !== currentUser._id">
    {{user._id}}{{isFriend(user._id)}}
    <span ng-switch="isFriend(user._id)">
      <button class="btn btn-primary" ng-switch-when="false" ng-click="addReqForFriend(user._id)" ng-hide="pending">Add friend</button>
      <button class="btn btn-primary" ng-switch-when="false" ng-show="pending">Waiting for confirmation...</button>
      <button class="btn btn-danger" ng-switch-when="true" ng-click="removeFriend(user._id)">Remove Friend</button>
    </span>
    {{user.username}}
    <a ui-sref="profile({id: user._id})">Profile</a>
  </li>
</ul>
